/*imagenes--------------------------------------------------------------------------------------*/


.fotos{
    margin-top: 120px;
    .imag-1  {
        img {
            margin: 10px;
             width: 50%;
             
            
             
         }
           
    }
    
    
    .imag-2 {
        img{
            margin: 10px;
            width: 50%;
           height: 30%;
        }
    }
    }
