/*mediaq------------------------------------------------------------------------------------------*/
@media only screen and (max-width:500px) {
   
    header{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        .logo{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 40%;
                 
                }
        }
          nav {
            width: 80%;
            .link{
                justify-content: space-between;

                a{
                    font-size: 80%;
                   }

            }
        }
          
    }
       
        
       
      
   
      /* personajes -------------------------------------------*/
      .personajes{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       .crilin {
        @include personajes-img;
        @include personajes-h2;
       }
       .goku {
        @include personajes-img;
        @include personajes-h2;
       }
       .gohan {
        @include personajes-img;
        @include personajes-h2;
       }
       .piccolo {
        @include personajes-img;
        @include personajes-h2;
       }
      
          
      }
     
      
        
        /* index---------------------------------------------- */
        .indexgoku{
         
            .primerParrafo{
                h1{
                    font-size: 2em;
                    margin-top: 10px;
                 }
                 p{
                    font-size: 1rem;
                 }

            }
        } 
    
        
       
         /*videos---------------------------------------------*/
        .videos{
            flex-direction: column;
            align-items: center;
            margin-top: 120 px;    
            .video1{
           
                
           
                width: 80%;
                height: 60%;
                iframe {
                 width: auto;
                 height: auto;
                }
             }
         
          
        }
      
             
       
        /*imagenes----------------------------------*/

        .fotos{
            
            display: flex;
            justify-items: center;
            flex-direction: column;
            flex-wrap: nowrap;
            margin-top: 100px;
            margin-left: 0;
            margin-right: 0;
           
           
            .imag-1 {
                img{
                  width: 20%;
                 
                  flex-grow: 1;
                  margin: 0;
                  object-fit: cover;
                  opacity: .8;
                  transition: .5s ease;
             
               }
              }
              .imag-1{
                img:hover{
                    width: 130px;
                    opacity: 1;
                    filter: contrast(120px);
                }
              }
              .imag-2 {
                img{
                    width: 0;
                    
                    flex-grow: 1;
                    margin: 0;
                    object-fit: cover;
                    opacity: .8;
                    transition: .5s ease;
                   
               
           
               }           

            }
            .imag-2 {
                img:hover{
                   
                       width: 130px;
                       height: 350px;
                       opacity: 1;
                       filter: contrast(120px);
                   
               }
              }
       
       }
       /* contatos------------------------------------------------------------------------------------*/
       form {
        width: 60%;
        height: 50%;
        font-size: small;
        justify-content: center;
        margin: 20%;
        margin-top: 30%;
        h1{
            font-size: 140%;
        }

        .formulario{
            width: 80%;
           

           

           textarea{
            width: 100%;

            }
        }
       }



       /*footer------------------------------------------------------------------------------------------------------------*/
       footer {
        h3{
            font-size: 1rem;
            margin-top: 5px;
        }
        .redes-sociales{
            a {
                font-size: 1rem;
            }

        }

       }
       
      
       
     
     
    }