/*mediaq------------------------------------------------------------------------------------------*/@media only screen and (max-width:500px) {
   
    header{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        .logo{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 50%;
                 
                }
        }
          nav {
            width: 80%;
            .link{
                justify-content: space-between;

                a{
                    font-size: 80%;
                   }

            }
        }
          
    }
       
        
       
      
   
      /* personajes */
      .personajes{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       
      
          
      }
     
      
      .crilin, .goku, .gohan, .piccolo, img{
           width: 80%;
           margin-top: 10px;
        }
        
        .crilin, .goku, .gohan, .piccolo h2 {
           font-size: 1rem;
           margin-top: 20px;
        }
        .crilin, .goku, .gohan, .piccolo{
           display: flex;
           flex-direction: column;
           flex-wrap: nowrap;
            align-items: center;
          
        } 
        
        /* index---------------------------------------------- */
        .primerParrafo h1{
           font-size: 10%;
        }
        .primerParrafo p{
           font-size: 1rem;
        }
       
         /*videos-------------------*/
        .videos{
            flex-direction: column;
            align-items: center;    
         
          
        }
        .video1{
           
                
           
           width: 80%;
           height: 60%;
           iframe {
            width: auto;
            height: auto;
           }
        }
             
       
        /*imagenes-----------------*/
       .imag-1 img {
           margin-top: 20px;
           width: 45%;
           height:70%;
       }
       .imag-2 img{
           margin-top: 1px;
           width: 45%;
           height:60%;
   
       }
       footer a {
           font-size: 1rem;
       }
       footer h3{
           font-size: 1rem;
           margin-top: 5px;
       }
     
     
    }