/*mixin----------------------------------------------------------------------------------------------------*/
@mixin flex ($direccion, $justify,$aline ){
    display: flex;
    flex-direction: $direccion;
    justify-content:$justify ;
    align-items: $aline;
}
@mixin personajes-img{
    width: 30%;
    margin-top: 10px;

}
@mixin personajes-h2 {
    font-size: 1.2rem;
    width: 100%;
    margin-top: 10px;
}
@mixin personajes-media{
    font-size: 0.8rem;
    width: 100%;
    margin-top: 10px;
}
@mixin personajes-flex {
            display: flex;
           flex-direction: column;
           flex-wrap: nowrap;
            align-items: center;
}
@import url('https://fonts.googleapis.com/css2? family=Playfair+Display&display=swap');
/* font-family: 'Playfair Display', serif; */
@import url('https://fonts.googleapis.com/css2?swap');
/* font-family: 'Inconsolata', monospace; */