@mixin flex ($direccion, $justify,$aline ){
    display: flex;
    flex-direction: $direccion;
    justify-content:$justify ;
    align-items: $aline;
}
@import url('https://fonts.googleapis.com/css2? family=Playfair+Display&display=swap');
/* font-family: 'Playfair Display', serif; */
@import url('https://fonts.googleapis.com/css2?swap');
/* font-family: 'Inconsolata', monospace; */